{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<section class="main-banner">
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Search</a>
                    <span class="breadcrumb-item active">Foods</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <div class="menu-list-row">
        <div class="row g-xxl-5 bydefault_show" id="menu-dish">
            {% if menu_items %}
                {% for item in menu_items %}
                <div class="col-lg-4 col-sm-6 dish-box-wp">
                    <div class="dish-box text-center">
                        <div class="dist-img">
                            <img src="{{ item.image_main.url }}" alt="{{ item.name }}">
                        </div>
                        <div class="dish-title">
                            <h3 class="h3-title">{{ item.name }}</h3>
                            <p style="color: black;">Ugx {{ item.price|intcomma }}.</p>
                        </div>
                        <div class="dist-bottom-row">
                            <ul>
                                <li>
                                    <button class="dish-add-btn">
                                        <a href=""> <i class="fas fa-phone-alt"></i></a>
                                    </button>
                                </li>
                                <a href="{% url 'orderme' 'MenuItem' item.id %}" class="buy">Buy Now</a>
                                <li>
                                    <div class="add-to-cart-btn ">
                                        <form action="{% url 'add_to_cart' 'MenuItem' item.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="dish-add-btn custom-toast   success-toast"
                                                data-product-id="{{ item.id }}" data-product-type="MenuItem" type="submit" id="add">
                                                <i class="fas fa-shopping-cart "></i>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="col-12 text-center">
                <p>No grocery items found. <a href="{% url 'index' %}">Go to shop</a></p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
